{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="color: #4B0082;">
        <center> <h1>Приветствую! </h1>
            <h2>Здесь Вы можете выбрать алгорим по душе с: </h2>
        </center>
    </div>
    <br> 
    <div style="float: left;">
        <a href="{{ url_for('RF_model') }}"><font color= #228B22;> <h2>Random Forest</h2></a>
    </div>

    <div style="float: right;">
        <a href="{{ url_for('GB_model') }}"><font color= #228B22;> <h2>Gradient Boosting</h2></a>     
    </div>
</div>
{% endblock %}
