{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="color: #228B22;">
        <center> 
            <h2>Здесь Вы можете посмотреть параметры и результаты 
                <br>  для модели {{form_pred.message_name}}</h2>
        </center>
    </div>
    <br> 
    <div style="color: #4B0082;">
        <h3> Количество деревьев в ансамбле:                    
        {{ form_pred.message_data.n_estimators }} </h3>

        <h3> Размерность подвыборки признаков: 
        {{ form_pred.message_data.feature_subsample_size }} </h3>

        <h3> Максимальная глубина дерева: 
        {{ form_pred.message_data.max_depth }} </h3>
        
        {% if form_pred.message_bool: %}
            <h3> Темп обучения: 
                {{ form_pred.message_data.learning_rate }} </h3>
        {% endif %}

        <h3> Название файла обучающей выборки: 
            {{ form_pred.message_data.data_train.data.filename }} </h3>

        <h3> Название файла тестовой выборки: 
            {{ form_pred.message_data.data_val.data.filename }} </h3>
    
    </div>
</div>
{% endblock %}
