{% extends "base.html" %}

{% block content %}
<div class="container">

    <div style="color: #228B22;">  <center>
        <h1>Random Forest</h1>
        <h2>Загрузите обучающую выборку. <br> 
            Столбец с целевой переменной должен называться "price".</h2> </center>
    </div>

    {% for mesg in get_flashed_messages() %}
      <h2><span style="color: darkred;">{{ mesg }}</span></h2>
    {% endfor %}
    
    <div style="color: #4B0082;"> 
    <hr><h4>
        {{ wtf.quick_form(form) }}
    <hr></h4>
    </div>
</div>
{% endblock %}

